In [1]:
import pandas as pd
import pickle

1. MovieLens Small Dataset (09/2018) found [here](https://grouplens.org/datasets/movielens/latest/).  
Import the movie and ratings data which is split between two files

In [2]:
ratings_df = pd.read_csv('./data/ratings.csv')
movies_df = pd.read_csv('./data/movies.csv')

2. A quick look at the head of the movies dataframe

In [3]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

3. A quick look at the head of the ratings dataframe

In [4]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

4. Merge the data into a single dataframe and set timestamp as our index

In [5]:
df = pd.merge(ratings_df, movies_df, on='movieId')

5. Replace index with timestamp

In [6]:
df.set_index("timestamp", inplace=True)

6. Final look at the head after the changes

In [7]:
df.head()

,userId,movieId,rating,title,genres
timestamp,,,,,
964982703,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
847434962,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1106635946,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1510577970,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1305696483,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

7. Save the data in its mutated state

In [8]:
pickle_out = open("./data_state/recommender_state.pickle", "wb")
pickle.dump(df, pickle_out)
pickle_out.close()